<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        .container {
            padding: 20px;
        }

        h4 {
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <div class="container">
        <small style="display: none" id="pw"><%=pw%></small>
        <h4>통계</h4>
        
        <h4>반납 대기열</h4>
        <div class="list-group list-group-flush">
            <% for(var i = 0; i < tickets.length; i++) { %>
            <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= tickets[i]._id %></h5>
                    <small><%= tickets[i].returnAt %></small>
                </div>
                <p class="mb-1">로그 ID - <%= tickets[i].logId %><br>책 ID - <%= tickets[i].bookId %><br>유저 ID -
                    <%= tickets[i].userId %></p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick="reviewTicket('<%=tickets[i]._id%>', true)"
                        class="btn btn-primary">승인</button>
                    <button type="button" onclick="reviewTicket('<%=tickets[i]._id%>', false)"
                        class="btn btn-danger">거절</button>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    function reviewTicket(ticketId, isAccepted) {
        $.ajax({
            type: "POST",
            url: "/api/admin/ticket/" + $('#pw').text(),
            data: JSON.stringify({id: ticketId, isAccepted: isAccepted}),
            success: function () { 
                location.reload();
            },
            dataType: "json",
            contentType: "application/json"
        });
    }
</script>

</html>